---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="VitaLena">
    <main>
        <Banner />
            <p>Hello World</p>
        <Footer />
    </main>
</Layout>

<style>
    main {
		margin: 0 auto;
		/* padding: 1.5rem; */
		max-width: 1100px;
  		height: 100%;
		background-color: #EFD3D7;
	}
</style>
