---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import ButtonGrey from "../components/ButtonGreySubmit.astro";
import { Icon } from "astro-icon";
import ButtonGreySubmit from "../components/ButtonGreySubmit.astro";
---

<Layout title="VitaLena Massage">
  <main>
    <Banner />
    <div class="contacts">
      <div class="page-title">
        <h1>Kontakte</h1>
      </div>

      <div id="personal-contact" class="contact-form">
        <h2>Für Buchung und Fragen</h2>
        <form name="contact-general" method="POST" data-netlify="true">
          <input type="hidden" name="subject" value="Anfrage Massage" />
          <p>
            <p><label>Vorname:</label></p>
            <input type="text" name="Vorname" data-name="name" required />
          </p>
          <p>
            <label>Nachname:</label>
            <input type="text" name="Nachname" data-surname="surname" />
          </p>
          <p>
            <label>Telefonnummer:</label>
            <input type="tel" name="Telefonnummer" required />
          </p>
          <p>
            <label>Email:</label>
            <input type="email" name="Email" required />
          </p>
          <p>
            <label>Nachricht:</label>
            <textarea name="message"></textarea>
          </p>
          <div class="contact-button">
            <ButtonGreySubmit text="SENDEN" />
          </div>
        </form>
      </div>

      <div class="address-map">
        <div class="addr-item1">
          <div class="icon-text">
            <Icon name="fa-solid:home" class="addr-icon home-icon" />
            <div>
              <div class="addr-place">
                <p>Dopamin Praxis</p>
              </div>
              <p>
                <a
                  href="https://maps.app.goo.gl/SCCjyYHtdvUu1VrC8"
                  target="_blank"
                >
                  Schaffhauserstrasse 22
                </a>
              </p>
              <p>
                <a
                  href="https://maps.app.goo.gl/SCCjyYHtdvUu1VrC8"
                  target="_blank"
                >
                  8302 Kloten
                </a>
              </p>
            </div>
          </div>
          <div class="icon-text">
            <Icon name="fa-solid:phone-alt" class="addr-icon" />
            <a href="tel:+41795648109" target="_blank"> +41 (0)79 564 81 09</a>
          </div>
          <div class="icon-text icon-text-last">
            <Icon name="fa-solid:envelope" class="addr-icon" />
            <a href="mailto:elena_schaller@swissonline.ch" target="_blank">
              elena_schaller@swissonline.ch
            </a>
          </div>

          <div class="icon-text icon-text-last">
            <Icon name="fa-brands:instagram" class="addr-icon" />
                    <a
                      href="https://www.instagram.com/schallerelena/"
                      target="_blank"
                    >
                      Instagram
                    </a>
                  </p>
           </div>
        </div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5402.285394162768!2d8.536749011745686!3d47.38964860281397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900a73bb38e23f%3A0x62051d986dc3f86b!2sSchaffhauserstrasse%2022%2C%208006%20Z%C3%BCrich!5e0!3m2!1sru!2sch!4v1751212546367!5m2!1sru!2sch"
          width="500"
          height="300"
          style="border:0;border-radius: 4px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="address-map">
        <div class="addr-item1">
          <div class="icon-text">
            <Icon name="fa-solid:home" class="addr-icon home-icon" />
            <div>
              <div class="addr-place">
                <p>Praxisraum</p>
                <p>in Weiach</p>
              </div>
              <p>
                <a href="https://goo.gl/maps/SronJErekN9ETXpL9" target="_blank">
                  Im See 3
                </a>
              </p>
              <p>
                <a href="https://goo.gl/maps/SronJErekN9ETXpL9" target="_blank">
                  8187 Weiach
                </a>
              </p>
            </div>
          </div>
          <div class="icon-text">
            <Icon name="fa-solid:phone-alt" class="addr-icon" />
            <a href="tel:+41795648109" target="_blank"> +41 (0)79 564 81 09</a>
          </div>
          <div class="icon-text icon-text-last">
            <Icon name="fa-solid:envelope" class="addr-icon" />
            <a href="mailto:elena_schaller@swissonline.ch" target="_blank">
              elena_schaller@swissonline.ch
            </a>
          </div>

          <div class="addr-place">
                  <p>
                    <a
                      href="https://www.instagram.com/schallerelena/"
                      target="_blank"
                    >
                      Instagram
                    </a>
                  </p>
           </div>
           
        </div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2692.241230708054!2d8.4255598!3d47.5630947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479071c87e214bb5%3A0x1e3dded9c0a4b13d!2sIm%20See%203%2C%208187%20Weiach!5e0!3m2!1sru!2sch!4v1751213417121!5m2!1sru!2sch"
          width="500"
          height="300"
          style="border:0;border-radius: 4px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      
      <div class="address-map">
        <div class="addr-item2">
          <div class="icon-text">
            <Icon name="fa-solid:home" class="addr-icon home-icon" />
            <div>
              <div class="addr-place">
                <p>Praxis in der Salzgrotte</p>
                <a href="https://salzgrotte.ch/offer-prices/" target="_blank">
                  salzgrotte.ch
                </a>
              </div>
              <p>
                <a href="https://goo.gl/maps/ZfKhNa9Ryq1TmgHh9" target="_blank">
                  Lindenstrasse 23
                </a>
              </p>
              <p>
                <a href="https://goo.gl/maps/ZfKhNa9Ryq1TmgHh9" target="_blank">
                  8302 Kloten
                </a>
              </p>
            </div>
          </div>
          <div class="icon-text">
            <Icon name="fa-solid:phone-alt" class="addr-icon" />
            <a href="tel:+41795648109" target="_blank"> +41 (0)79 564 81 09</a>
          </div>
          <div class="icon-text icon-text-last">
            <Icon name="fa-solid:envelope" class="addr-icon" />
            <a href="mailto:ielena_schaller@swissonline.ch" target="_blank"
              >elena_schaller@swissonline.ch
              </a>
          </div>

          <div class="addr-place">
                  <p>
                    <a
                      href="https://www.instagram.com/schallerelena/"
                      target="_blank"
                    >
                      Instagram
                    </a>
                  </p>
           </div>
        
        </div>
        <iframe
          loading="lazy"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10792.284209060424!2d8.569043501467354!3d47.44955440000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900abc36fce019%3A0x71211764b4e63c6d!2sSalzgrotte!5e0!3m2!1sen!2sch!4v1682434412593!5m2!1sen!2sch"
          width="500"
          height="300"
          style="border:0;border-radius: 4px;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>

      <!-- <div class="contact-form">
        <h2>Für Buchung in der Salzgrotte</h2>
        <form name="contact-salzgrotte" method="POST" data-netlify="true">
          <input type="hidden" name="subject" value="Anfrage Massage" />
          <p>
            <p><label>Vorname:</label></p>
            <input type="text" name="Vorname" data-name="name" required />
          </p>
          <p>
            <label>Nachname:</label>
            <input type="text" name="Nachname" data-surname="surname" />
          </p>
          <p>
            <label>Telefonnummer:</label>
            <input type="tel" name="Telefonnummer" required />
          </p>
          <p>
            <label>Email:</label>
            <input type="email" name="Email" required />
          </p>
          <p>
            <label>Nachricht:</label>
            <textarea name="message"></textarea>
          </p>
          <div class="contact-button">
            <ButtonGreySubmit text="SENDEN" />
          </div>
        </form>
      </div> -->
    </div>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
    background-color: #efd3d7;
  }

  .contacts {
    padding-top: 104px;
  }

  h1,
  h2 {
    color: #8e9aaf;
  }

  .page-title {
    padding: 40px 40px;
    text-align: center;
  }

  .address-map {
    padding: 0 40px 40px 40px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
  }

  .addr-item1 {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .addr-item2 {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .addr-place {
    margin-bottom: 8px;
  }

  .icon-text {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .icon-text-last {
    margin-bottom: 0px;
  }

  .addr-icon {
    color: #8e9aaf;
    font-size: 24px;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .home-icon {
    width: 25px;
    height: 25px;
  }

  .address a {
    color: #3d3d3d;
  }

  .address a:hover {
    color: #84858e;
  }

  /* Contact form */

  .contact-form {
    padding: 0 40px 40px 40px;
    max-width: 600px;
    margin: 0 auto;
  }

  .contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-form input,
  textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .contact-form textarea {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contact-form label {
    width: 100px;
  }

  .contact-form input {
    height: 35px;
  }

  .contact-form textarea {
    height: 100px;
  }

  .contact-form p {
    justify-content: center;
    gap: 5px;
  }

  .contact-button {
    text-align: right;
  }

  @media (max-width: 960px) {
    .addr-item1 {
      padding-left: 0px;
      padding-right: 3px;
      padding-bottom: 20px;
    }

    .addr-item2 {
      padding-left: 3px;
      padding-right: 0px;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 600px) {
    .contacts {
      padding-top: 70px;
    }

    .page-title {
      padding: 20px;
      text-align: center;
    }

    .addr-item1 {
      padding-left: 0px;
      padding-right: 3px;
      padding-bottom: 20px;
    }

    .addr-item2 {
      padding-left: 3px;
      padding-right: 0px;
      padding-bottom: 20px;
    }

    .address-map {
      padding: 0 20px 20px 20px;
    }

    .icon-text {
      gap: 6px;
    }

    .addr-icon {
      width: 15px;
      height: 15px;
    }

    .home-icon {
      width: 18px;
      height: 18px;
    }

    /* contact forms */

    .contact-form {
      padding: 0 20px 20px 20px;
      max-width: 600px;
      margin: 0 auto;
    }
  }
</style>
