---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import BannerHome from '../components/BannerHome.astro';
---

<Layout title="VitaLena">
	<main>
		<BannerHome />
		<!-- contacts -->
		<div id="contacts" class="contacts">
			<h1>Kontakte</h1>
			<div class="address">
			  <div class="addr-item1">
				<div class="icon-text">
				  <i class="fa fa-home addr-icon home-icon" aria-hidden="true"></i>
				  <div>
					<div class="addr-place">
					  <p>
						Praxisraum 
					  </p>
					  <p>
						in Weiach 
					  </p>
					</div>
					<p><a href="https://goo.gl/maps/SronJErekN9ETXpL9" target="_blank">
					  Im See 3
					</a></p>
					<p><a href="https://goo.gl/maps/SronJErekN9ETXpL9" target="_blank">
					  8187 Weiach
					</a></p>
				  </div>
				</div>
				<div class="icon-text">
				  <i class="fa fa-phone addr-icon" aria-hidden="true"></i>
				  <a href="tel:+41795648109" target="_blank">
					+41 (0)79 564 81 09
				  </a>
				</div>
				<div class="icon-text icon-text-last">
				  <i class="fa fa-envelope addr-icon" aria-hidden="true"></i>
				  <a href="mailto:elena_schaller@swissonline.ch" target="_blank">
					elena_schaller@swissonline.ch
				  </a>
				  
				</div>
			  </div>
			  <div class="addr-item2">
				<div class="icon-text">
				  <i class="fa fa-home addr-icon home-icon" aria-hidden="true"></i>
				  <div>
					<div class="addr-place">
					  <p>SALZGROTTE</p>
					  <a href="https://salzgrotte.ch" target="_blank">
						salzgrotte.ch
					  </a>
					</div>
					<p><a href="https://goo.gl/maps/ZfKhNa9Ryq1TmgHh9" target="_blank">
					  Lindenstrasse 23
					</a></p>
					<p><a href="https://goo.gl/maps/ZfKhNa9Ryq1TmgHh9" target="_blank">
					  8302 Kloten
					</a></p>
				  </div>
				</div>
				<div class="icon-text">
				  <i class="fa fa-phone addr-icon" aria-hidden="true"></i>
				  <a href="tel:+41445505555" target="_blank">
					+41 (0)44 550 55 55
				  </a>
				</div>
				<div class="icon-text icon-text-last">
				  <i class="fa fa-envelope addr-icon" aria-hidden="true"></i>
				  <a href="mailto:info@salzgrotte.ch" target="_blank">info@salzgrotte.ch</a>
				</div>
			  </div>
			</div>
		</div>

		<!-- quote -->
		<div class="quote">
			<p>„Die Gesundheit überwiegt alle äußeren Güter so sehr, dass ein gesunder Bettler glücklicher als ein kranker König ist.“</p>
			<p>Arthur Schopenhauer</p>
		</div>

		<!-- cards -->
		<div class="cards">
			<h1>Behandlungen</h1>
			<div class="card-row">
			<Card
			  	imgPath="img/massage1-opt.jpg"
				href="#"
				title="Klassische Massage"
				body="Die klassische Massage ist die am häufigsten angewendete Form der Massage und wird überwiegend zur Vorbeugung und Behandlung von Erkrankungen des Bewegungsapparats eingesetzt."
			/>
			<Card
				imgPath="img/massage2-opt.jpg"
				href="#"
				title="Entspannungsmassage"
				body="Die klassische Massage ist die am häufigsten angewendete Form der Massage und wird überwiegend zur Vorbeugung und Behandlung von Erkrankungen des Bewegungsapparats eingesetzt."
			/>
			<Card
				imgPath="img/massage3-opt.jpg"
				href="#"
				title="Sportmassage"
				body="Die klassische Massage ist die am häufigsten angewendete Form der Massage und wird überwiegend zur Vorbeugung und Behandlung von Erkrankungen des Bewegungsapparats eingesetzt."
			/>
			</div>
		</div>
		<Footer />
	</main>
</Layout>

<style>
	main {
  		height: 100%;
		background-color: #EFD3D7;
	}

	/* contacts */
	.contacts {
		padding: 40px 40px;
		text-align: center;
	}

	.contacts,
	.cards h1,
	h2 {
		color: #8E9AAF;
	}

	.address {
		display: flex;
		justify-content: center;
		padding-top: 20px;
		gap: 8px;
	}

	.addr-item1 {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.addr-item2 {
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}

	.addr-place {
		margin-bottom: 8px;
	}

	.icon-text {
		display: flex;
		gap: 10px;
		margin-bottom: 8px;
	}

	.icon-text-last {
		margin-bottom: 0px;
	}

	.addr-icon {
		color: #8E9AAF;
		font-size: 24px;
		width: 25px;
		text-align: center;
	}

	.home-icon {
		font-size: 29px;
	}

	.address a {
		color: #3D3D3D;
	}

	.address a:hover {
		color: #84858e;
	}

	/* quote */

	.quote {
		padding: 80px 150px;
		background-color: rgba(255, 255, 255, 0.674);
		text-align: center;
		font-family: 'Philosopher', sans-serif;
		font-size: 22px;
		font-weight: 500;
	}

	/* cards */
	.cards {
		padding: 40px 40px;
		text-align: center;
	}

	.card-row {
		display: flex;
		gap: 16px;
		margin-top: 20px;
	}
</style>
