---
import ButtonGrey from "./ButtonGrey.astro";
import ButtonPink from "./ButtonPink.astro";
import Menu from "./Menu.astro";
---
<div class="banner">
    <div class="main-image">
      <div class="banner-content">
        <Menu />
        <div class="welcome-text">
          <h1>Massage</h1>
          <p class="desktop">Eine halbe Stunde Massage ist absolut notwendig, 
            außer, wenn man sehr beschäftigt ist, 
            dann braucht man eine ganze Stunde.</p>
          <p class="mobile">in Kloten, Weiach</p>
        </div>
        <div class="header-buttons">
            <ButtonGrey href="#contacts" text="MASSAGE BUCHEN"/>
            <span class="button-pink"><ButtonPink href="#contacts" text="PRESE"/></span>
        </div>          
      </div>
    </div>        
</div>

<style>
.banner {
  background-color: #EFD3D7;
}

.main-image {
  width: 100%;
  height: 0;
  padding-top: 66%;
  background-image: url(/img/main_small_dark.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 0;
  /* width: 100%; */
  height: 100%;
  padding: 20px 40px;
}

.phone-number {
  text-align: right;
  margin-top: 5px;
  font-size: 17px;

}

.welcome-text {
  width: 50%;
  margin-top: 30px;
}

.welcome-text h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.welcome-text p {
  font-size: 23px;
  color: white;
  font-weight: 500;
}

.mobile {
  display: none;
}

.header-buttons {
  padding-top: 280px;
  padding-right: 50px;
  text-align: right;
}

.button-pink {
    margin-left: 20px;
}

</style>