---
import Menu from "./Menu.astro";
---
<div class="banner">
    <Menu />
</div>

<style>
    .banner {
        background-color: #CBC0D3;
        padding: 20px 40px;
    }

    @media (max-width: 600px) {
        .banner {
            padding: 20px;
        }
    }
</style>