---
import ButtonGrey from "./ButtonGrey.astro";
import ButtonPink from "./ButtonPink.astro";
import Menu from "./Menu.astro";
---
<div class="banner">
    <div class="main-image">
      <div class="banner-content">
        <div class="banner-padding">
          <Menu />
          <div class="welcome-text">
            <h1>Massage</h1>
            <p class="desktop">Eine halbe Stunde Massage ist absolut notwendig, 
              außer, wenn man sehr beschäftigt ist, 
              dann braucht man eine ganze Stunde.</p>
            <p class="mobile">in Kloten, Weiach</p>
          </div>
          <div class="header-buttons">
              <ButtonGrey href="#contacts" text="MASSAGE BUCHEN"/>
              <span class="button-pink"><ButtonPink href="#contacts" text="PRESE"/></span>
          </div>   
        </div>    
      </div>
    </div>        
</div>

<style>
.banner {
  background-color: #EFD3D7;
}

.main-image {
  width: 100%;
  height: 0;
  padding-top: 66%;
  background-image: url(/img/main_small_dark.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner-padding {
  padding: 20px 40px;
}

.phone-number {
  text-align: right;
  margin-top: 5px;
  font-size: 17px;

}

.welcome-text {
  width: 50%;
  margin-top: 30px;
}

.welcome-text h1 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
}

.welcome-text p {
  font-size: 23px;
  color: white;
  font-weight: 500;
}

.mobile {
  display: none;
}

.header-buttons {
  padding-top: 280px;
  padding-right: 50px;
  text-align: right;
}

.button-pink {
    margin-left: 20px;
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: larger;
  }

  .welcome-text h1 {
    font-size: 40px;
  }

  .welcome-text p {
    font-size: 15px;
  }

  .header-buttons {
    padding-top: 100px;
  }
}

@media (max-width: 600px) {

/* banner */

.banner-content {
  /* padding: 20px 20px; */
  /* width: 100%; */
}

.banner-padding {
  padding: 20px;
}

.banner-content .header-menu {
  display: none;
}

.phone-number {
  margin-top: 0px;
  font-size: 15px;
}

.welcome-text {
  width: 75%;
  margin-top: 0px;
}

.welcome-text h1 {
  font-size: 34px;
  margin-bottom: 0px;
}

.welcome-text .desktop {
  display: none;
}

.mobile {
  display: block;
  font-size: 0px;
}

.welcome-text p {
  font-size: 20px;
}

.header-buttons {
  padding-top: 5%;
  padding-right: 0;
  text-align: right;
}
.button-pink {
    margin-left: 0px;
    margin-top: 8px;
}

}

</style>