---
import Menu from "./Menu.astro";
---
<div class="banner">
    <Menu />
</div>

<style>
    .banner {
        background-color: #CBC0D3;
        padding: 20px 40px;
        position: fixed;
        width: 100%;
        max-width: 1100px;
        box-sizing: border-box;
        z-index: 20;
    }

    @media (max-width: 600px) {
        .banner {
            padding: 8px 20px;
        }
    }
</style>