---
export interface Props {
	text: string;
    href: string;
}

const { href, text } = Astro.props;
---

<a href={href} class="button-pink">{text}</a>

<style>
    .button-pink {
        min-width: 180px;
        text-align: center;
        padding: 12px 20px;
        border-radius: 4px;
        border: none;
        background-color: #FEEAFA;
        color: #8E9AAF;
        text-decoration: none;
        display: inline-block;
        font-family: 'Philosopher', sans-serif;
        font-size: 15px;
        box-sizing: border-box;
        transition: background-color 0.3s;
    }

    .button-pink:hover {
        background-color: #DEE2FF;
        color: #FEEAFA;
    }

    @media (max-width: 600px) {
        .button-pink {
            width: 160px;
            font-size: 16px;
            padding: 10px 0;
            margin-left: 5px;
            display: block;
            margin-left: auto;
        }
    }
</style>