---
// import { Icon } from 'astro-icon';
import ButtonGrey from './ButtonGrey.astro';
export interface Props {
	title: string;
	body: string;
	href: string;
	imgPath: string;
}

const { imgPath, href, title, body } = Astro.props;
---
<div class="card">
	<img src={imgPath} class="card-img" alt="Klassische Massage">
	<div class="card-text">
		<h2>{title}</h2>
		<p>{body}</p>
		<p><a href={href} class="card-link">weiterlesen</a></p>
		<div class="card-button">
			<ButtonGrey href="#contacts" text="MASSAGE BUCHEN" />
		</div>
	</div>
</div>
	
<style>
.card {
  background-color: rgba(255, 255, 255, 0.674);
  border-radius: 4px;
  width: 33.33%;
}

h1, h2, h3 {
  color: #8E9AAF;
}

.card-img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.card-text {
  padding: 20px;
}

.card-text h2 {
  margin-bottom: 20px;
}

.card-text p {
  text-align: left;
  margin-bottom: 16px;
}

.card-link {
  color: #aaaaaa;
}

.card-button {
  margin-top: 30px;
}

@media (max-width: 600px) {

	.cards h1 {
		font-size: 26px;
	}

	.card-text h2 {
		font-size: 22px;
	}

	.card-text p{
		font-size: 18px;
	}

	.card {
		margin-top: 20px;
		width: 100%;
	}

	.card .button-grey {
		margin: 0 auto;
	}
}
</style>
