<nav>
    <a href="#">
      <img src="/img/Logo2.png" alt="VitaLena" class="logo">
    </a>
   
    <ul class="header-menu">
      <li><a href="#home">Home</a></li>
      <li><a href="/about/">Über mich</a></li>
      <li><a href="#massage">Massage</a></li>
      <li><a href="#contact">Kontakte</a></li>
    </ul>

    <div class="hamburger-menu">

      <div id="mySidepanel" class="sidepanel">

        <a id="closeBtn" href="#" class="closebtn" >×</a>
        <a id="homeLink" href="#home">Home</a>
        <a id="aboutLink" href="#about">Über mich</a>
        <a id="massageLink" href="#massage">Massage</a>
        <a id="contactLink" href="#contact">Kontakte</a>
      </div>
      
      <button id="openBtn" class="openbtn">☰</button>
    </div>
  </nav>

<style>
nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.logo {
  width: 140px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  color: white;
}

li :last-child {
  padding-right: 0;
}
</style>