<nav>
    <a href="/">
      <img src="/img/Logo2.png" alt="VitaLena" class="logo">
    </a>
   
    <ul class="header-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">Über mich</a></li>
      <li><a href="/massage/">Massage</a></li>
      <li><a href="#contact">Kontakte</a></li>
    </ul>

    <div class="hamburger-menu">

      <div id="mySidepanel" class="sidepanel">

        <a id="closeBtn" href="#" class="closebtn" >×</a>
        <a id="homeLink" href="/">Home</a>
        <a id="aboutLink" href="/about/">Über mich</a>
        <a id="massageLink" href="/massage/">Massage</a>
        <a id="contactLink" href="#contact">Kontakte</a>
      </div>
      
      <button id="openBtn" class="openbtn">☰</button>
    </div>
  </nav>

  <script>
    const openNav = function () {
      document.getElementById("mySidepanel").style.width = "50%";
    }

    const closeNav = function () {
      document.getElementById("mySidepanel").style.width = "0";
    }

    document
      .getElementById("openBtn")
      .addEventListener("click", function (event) {
        openNav();
      });
  
    document
      .getElementById("closeBtn")
      .addEventListener("click", function (event) {
        closeNav();
      });

    document
      .getElementById("homeLink")
      .addEventListener("click", function (event) {
        closeNav();
      });

      document
      .getElementById("aboutLink")
      .addEventListener("click", function (event) {
        closeNav();
      });
  </script>

<style>
nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.logo {
  width: 140px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

li a {
  display: block;
  padding: 20px;
  font-size: 20px;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
  color: white;
}

li :last-child {
  padding-right: 0;
}


@media (max-width: 600px) {

.header-menu {
  display: none;
}

.logo {
  width: 90px;
  /* margin-bottom: 8px; */
}

/* humburger menu */

.hamburger-menu {
  display: block;
}

.hamburger {
  font-size: 30px;
  font-weight: 100;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #CBC0D3;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
  box-sizing: border-box;
  /* border-left: 0.1mm solid #f1f1f1 ; */
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  white-space: nowrap;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 36px;
  padding: 8px 16px;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: transparent;
}
}
</style>
